NET  "B1" LOC ="M18" | IOSTANDARD="LVCMOS33";
NET  "B2" LOC ="N17" | IOSTANDARD="LVCMOS33";
NET  "B3" LOC ="P18" | IOSTANDARD="LVCMOS33";
NET  "main_clk" LOC ="E3" | IOSTANDARD="LVCMOS33";
NET  "anode(7)" LOC ="U13" | IOSTANDARD="LVCMOS33";
NET  "anode(6)" LOC ="K2" | IOSTANDARD="LVCMOS33";
NET  "anode(5)" LOC ="T14" | IOSTANDARD="LVCMOS33";
NET  "anode(4)" LOC ="P14" | IOSTANDARD="LVCMOS33";
NET  "anode(3)" LOC ="J14" | IOSTANDARD="LVCMOS33";
NET  "anode(2)" LOC ="T9" | IOSTANDARD="LVCMOS33";
NET  "anode(1)" LOC ="J18" | IOSTANDARD="LVCMOS33";
NET  "anode(0)" LOC ="J17" | IOSTANDARD="LVCMOS33";
NET  "ledout1(6)" LOC ="T10" | IOSTANDARD="LVCMOS33";
NET  "ledout1(5)" LOC ="R10" | IOSTANDARD="LVCMOS33";
NET  "ledout1(4)" LOC ="K16" | IOSTANDARD="LVCMOS33";
NET  "ledout1(3)" LOC ="K13" | IOSTANDARD="LVCMOS33";
NET  "ledout1(2)" LOC ="P15" | IOSTANDARD="LVCMOS33";
NET  "ledout1(1)" LOC ="T11" | IOSTANDARD="LVCMOS33";
NET  "ledout1(0)" LOC ="L18" | IOSTANDARD="LVCMOS33";
NET  "ring_alarm" LOC ="J13" | IOSTANDARD="LVCMOS33";
NET  "alarm_set_disp" LOC ="K15" | IOSTANDARD="LVCMOS33";